# DV01 - Datasets. Basic Chart Types

##### 1. Make some data
--> Downloaded the data as csv.

2. Reproducible Research

- Are older students taller?

.

In [34]:
import numpy as np
import matplotlib as mpl
import pandas as pd
from matplotlib import pyplot as plt

# we need the following line to indicate that the plots should be shown inline with the Jupyter notebook.
%matplotlib inline

# Survey class data
answers = pd.read_csv('survey.csv', sep=',', low_memory=False, encoding = 'ISO-8859-1')

answers.head()

,Timestamp,How much do you like Fontys so far?,What is your main study profile?,What aspect of Data Visualization is most interesting to you?,How much effort do you intend to invest into this subject?,Your age (in years),Your height (in cm),Your starsign,Your continent,How many cousins do you have?,Unnamed: 10,Do you like spicy food?
0,9/1/2017 12:19:47,NaN,Software Engineering,(web) programming,10,21,420.69,Leo,Europe,7,Option 1,No
1,9/1/2017 12:22:32,NaN,Software Engineering,exploring/analysing,8,19,178.00,Cancer,Europe,0,Option 1,neutral
2,9/1/2017 12:23:13,NaN,Technology,designing and storytelling,7,20,182.00,Scorpio,Europe,12,Option 1,neutral
3,9/1/2017 12:23:21,NaN,Software Engineering,(web) programming,8,21,197.00,Cancer,Europe,19,Option 1,neutral
4,9/1/2017 12:26:08,NaN,Mathematics,designing and storytelling,8,23,183.00,Aquarius,Europe,27,NaN,Yes

In [39]:
x_age = answers['Your age (in years)'].tolist()
y_height = answers['Your height (in cm)'].tolist()

plt.plot(x_age, y_height, 'ro')

0     420.69
1     178.00
2     182.00
3     197.00
4     183.00
5     180.00
6     195.00
7     183.00
8     191.00
9     180.00
10    178.00
11    160.00
12    182.00
13    181.00
14    167.00
15    181.00
16    179.00
17      1.75
18    178.00
19    187.00
20    178.00
21    185.00
22    179.00
23    180.00
24    173.00
25    176.00
26    188.00
27    178.00
28    170.00
29    185.00
30    206.00
31    173.00
32    179.00
33    178.00
34    180.00
35    190.00
36    183.00
37    173.00
38    193.00
39    190.00
40    182.00
41    175.00
42    180.00
43    183.00
44    172.00
Name: Your height (in cm), dtype: float64

- Make a histogram for every quantitative attribute. What are these charts saying?

.